<article class="d-flex my-4 ">
    <img class="w-25" src="<%= user.photo %>">
    <div class="ms-3 border border-dark w-100">
      <%= link_to user_path(user.id) do %>
        <span class="fs-1"><%= user.name %></span>
      <% end %>
      <div class="d-flex w-75 justify-content-end fs-4">Number of posts: <%= user.posts_counter ? user.posts_counter : 0 %></div>
    </div>
</article>
